.headerContainer {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
}
header {
  display: grid;
  grid-template-columns: 50% 45%;
  column-gap: 5%;
  margin-top: 2rem;
  align-items: center;
  /* border: solid red 1px; */
  width: 100%;
}
.rightheader_container {
  /* border: solid greenyellow 2px; */
  width: 100%;
  height: 80vh;
}
.right-header {
  width: 80%;
  height: 80%;
  position: relative;
  margin: 3rem;
  /* border: solid pink 1px; */
}

.left-header {
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
  align-items: flex-start;
  /* border: solid blue 2px; */
}
.left-header h3 {
  text-align: start;
  margin: 0;
  padding: 0;
}
.span0 {
  color: #171151;
  font-size: 50px;
  font-style: normal;
  font-weight: 500;
  line-height: 65px;
  letter-spacing: 1.65px;
}
.span4 {
  color: #171151;
  font-size: 50px;
  font-style: normal;
  font-weight: 700;
  line-height: 65px;
  letter-spacing: 1.65px;
}

.left-header .text {
  color: #171151;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 29px;
}
.btn_svgContainer {
  position: relative;
  width: 125.323px;
  height: 35px;
  border: none;
  background-color: transparent;
  /* margin: 2rem 4px; */
}

.btn_svgContainer h5 {
  color: #fff;
  font-family: Roboto;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  z-index: 1000;
  position: absolute;
  top: 0.8rem;
  right: 0.1rem;
}

.inputContainer {
  position: relative;
  display: flex;
  align-items: center;
  gap: 100px;
  width: 100%;
  height: 50px;
}
.search_container {
  position: absolute;
  right: 10px;
  display: flex;
  align-items: center;
  gap: 25px;
  margin-bottom: 0.5rem;
}
.search_icon {
  padding: 2px 4px;
}
input {
  border: none;
  width: 100%;
  height: 100%;
  background: #fff;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
  border-radius: 30px;
  padding: 3px 15px;
}
.span-1 {
  color: #171151;
  font-family: Plus Jakarta Sans;
  font-size: 50px;
  font-style: normal;
  font-weight: 900;
  line-height: 65px;
  letter-spacing: 1.65px;
}
.span-2 {
  color: #fd5444;
  font-family: Plus Jakarta Sans;
  font-size: 50px;
  font-style: normal;
  font-weight: 900;
  line-height: 65px;
  letter-spacing: 1.65px;
}
.instructor {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
  border-radius: 10px;
  background: #fff;
  box-shadow: 5px 8px 30px 0px rgba(0, 0, 0, 0.1);
  width: 218.042px;
  height: 130.174px;
  position: absolute;
  top: -3rem;
  left: -3rem;
  z-index: 100;
}
.instructor h3 {
  color: #4e4e4e;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
}
.instructorImgContainer {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin: 0.5rem 1rem;
}
.instructorImg img {
  border-radius: 9999px;
}
.instructorText h4 {
  color: #000;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 26px;
}
.instructorText p {
  color: #4e4e4e;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}
.img_two_container {
  /* border: solid 2px yellow; */
  position: absolute;
  left: 1rem;
  bottom: 1rem;
  width: 60%;
  height: 60%;
}

.img_one_container {
  /* border: solid red 2px; */
  position: absolute;
  top: 0rem;
  right: 1rem;
  width: 80%;
  height: 70%;
}
.sub_container_one {
  width: 100%;
  height: 100%;
  background-image: url("/four.png");
  background-size: cover;
  background-position: center;
}
.sub_container_two {
  width: 100%;
  height: 100%;
  background-image: url("/five.png");
  background-size: cover;
  background-position: center;
}

.svg_container .svg-background {
  position: absolute;
  bottom: 1rem;
  right: 1rem;
}
.checklist {
  position: absolute;
  bottom: 2rem;
  right: 2rem;
  z-index: 100;
}

.greenDot {
  position: absolute;
  right: -20px;
  top: 5px;
}
.redDot {
  position: absolute;
  left: -21px;
  bottom: 100px;
}

.left-header .btn-container {
  display: flex;
  align-items: center;
  gap: 25px;
}
.left-header .btn {
  padding: 15px 25px;
  border-radius: 7px;
  cursor: pointer;
  border: none;
}
.left-header .btn1 {
  background-color: #fd5444;
  color: white;
}
.left-header .btn2 {
  color: black;
}

.customer {
  display: grid;
  grid-template-columns: 2fr 2fr 2fr;
  gap: 2rem;
  align-items: center;
  width: 80%;
  height: 15vh;
  margin: 2rem 1rem;
  padding: 0 1rem;
  /* border: solid red 1px; */
}
.customerItem {
  display: flex;
  gap: 4rem;
  position: relative;
  /* justify-content: space-between; */
  height: 80%;
  padding: 1.1rem 1rem;
  align-items: center;
  border-radius: 10px;
  background: #fff;
  box-shadow: 5px 8px 30px 0px rgba(0, 0, 0, 0.1);
}
.customerHeading {
  color: #171151;
  font-family: Archivo;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
}
.customerSvg_one {
  position: absolute;
  left: 1rem;
  top: 0.5rem;
}
.customerSvg_two{
  position: absolute;
  left: 1.3rem;
  top: 0.9rem;
}
.customerSvg_two_two{
  position: absolute;
  left: 1.7rem;
  top: 1.4rem;
}

@media (max-width: 576px) {
  .customer{
    display: grid;
    grid-template-columns: 2fr;
    height: 20vh;
    margin-top: 1rem;
  }
  .customerItem{
    width: 100%;
    height: 100%;
  }
}

@media (max-width: 992px) {
  header {
    display: grid;
    grid-template-columns: 1fr;
    place-content: center;
    row-gap: 40px;
  }
  .rightheader_container,
  .right-header {
    width: 100%;
  }
  .right-header {
    margin: 2rem 0;
  }
  .left-header {
    width: 100%;
  }
  .instructor {
    position: absolute;
    left: 0;
    top: -1.5rem;
  }
  .btn_svgContainer {
    display: none;
  }
}
