.collapsed{
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-color: #fff;
  z-index: 10000;
}
.closed{
  display: none;
}
.closeHeader{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 1rem 2rem;
}
.collapse_list_items{
  display: flex;
  align-items: center;
  width: 100%;
  display:block;
  padding: 1rem 2rem;

}
.collapse_list_items ul{
  list-style: none;
}
.open{
  display: block;
}
.closeBtn{
  cursor: pointer;
}

.collapse_list_items ul li{
  color: black;
  font-size: 18px;
  font-weight: 500;
  border-bottom: #262730 solid 1px;
  margin-top: 1rem;
  text-align: center;
  cursor: pointer;
  padding: 1rem 0;

}
.collapse_list_items ul li:hover{
  color: #fd5444;
}
.bar_icon{
  cursor: pointer;
}
@media (max-width:576px) {
  .rightLogo, .hide{
    display: none;
  }
  /* .bar_icon{
    display: block;
  } */
}

@media (min-width: 576px) {
  /* .collapsed{
    display: none;
  } */

 
}



























.logosContainer {
  display: grid;
  grid-template-columns: auto auto;
  column-gap: 10%;
  background: #fff;
  box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.05);
  padding: 12px 24px;
}
.leftLogo,
.rightLogo {
  width: 100%;
}

.logoContact {
  display: flex;
  height: 14px;
  align-items: center;
  justify-content: center;
  gap: 15px;
}
.logoContact p {
  padding-left: 3px;
  color: #8a879f;
  font-family: Plus Jakarta Sans;
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: 64px;
  text-transform: uppercase;
}
.logoContact p span {
  color: var(--dark);
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 64px;
  text-transform: uppercase;
}
.link {
  color: #262730;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
}
.link:hover {
  color: #fd5444;
}
.profileContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 15px;
}
.profile {
  border-radius: 50px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background: #fff;
  padding: 3px 4px;
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.25);
}
.linkContainer {
  gap: 30px;
}
.profile h4 {
  padding: 0 4px;
}
.profileImage {
  border-radius: 32px;
}
@media (max-width:768px) {
  .logoContact p{
    font-size: 10px;
    font-weight: 500;
    line-height: 50px;
  }
  .logosContainer{
    display: flex;
    align-items: center;
    justify-content: space-between;
  
  }
  .logoContact p span{
    font-size: 12px;
    font-weight: 600;
    line-height: 50px;
  }
  .upRideLogo{
    height: 25px;
    width: 120px;
  }
.hide, .rightLogo{
  display: none;
}
}

@media (min-width:768px) {
  .bar_icon{
    display: none;
  }
}

@media (max-width: 992px) {
  /* .logosContainer {
    grid-template-columns: auto;
    row-gap: 20px;
  } */
  .profile h4 {
    font-size: 10px;
  }
  .rightLogoImg {
    width: 20px !important;
    height: 20px !important;
  }


}
