.logosContainer {
  display: grid;
  grid-template-columns: auto auto;
  column-gap: 10%;
  background: #fff;
  box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.05);
  padding: 12px 24px;
}
.leftLogo,
.rightLogo {
  width: 100%;
}

.logoContact {
  display: flex;
  height: 14px;
  align-items: center;
  justify-content: center;
  gap: 15px;
}
.logoContact p {
  padding-left: 3px;
  color: #8a879f;
  font-family: Plus Jakarta Sans;
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: 64px;
  text-transform: uppercase;
}
.logoContact p span {
  color: var(--dark);
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 64px;
  text-transform: uppercase;
}
.link {
  color: #262730;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
}
.link:hover {
  color: #fd5444;
}
.profileContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 15px;
}
.profile {
  border-radius: 50px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background: #fff;
  padding: 3px 4px;
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.25);
}
.linkContainer {
  gap: 30px;
}
.profile h4 {
  padding: 0 4px;
}
.profileImage {
  border-radius: 32px;
}
/* .absolute {
  position: absolute;
  width: 1px;
  top: 0;
  right: -65px;
  height: 100%;
  background-color: rgba(18, 21, 17, 0.1);
  z-index: 200;
} */
/* .relative {
  position: relative;
} */

@media (max-width: 992px) {
  .logosContainer {
    grid-template-columns: auto;
    row-gap: 20px;
  }
  .profile h4 {
    font-size: 10px;
  }
  .rightLogoImg {
    width: 20px !important;
    height: 20px !important;
  }

  /* .rightLogo, .leftLogo{
        width: 100%;
        flex-direction: column;
        row-gap: 30px;
        border:  solid green 1px;
        justify-content: center;
        align-items: self-start;
    }  */

  /* .leftLogo{
    display: none;
   }  */
}
